@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #f3ccfcea;
    --color-secundario: #000000;
    --color-terciario: #960f96;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-KronaOne: "Krona One", sans-serif;
    --color-hover: #272727;
    --color-container: #be63ca;
}
*{
    padding: 0;
    margin: 1;  /* agrega un margen para centrar los cuadrados en la pantalla */
}
body{
    background-color: var(--color-primario);
    box-sizing: border-box;

}
.header{
    padding: 0% 0% 0% 0%;
}
.header_logo_imagen{
    justify-content: left;
}
.encriptador_titulo_principal{
    padding-left: 8%;
    text-align: left;
    font-size: 1.75rem;
    font-family: var(--fuente-KronaOne);
}
.container{
    position: relative;
    width: 40vw;
    height: 80vh;
}
.texto{
    position: absolute;
    width: 90%;
    height: 75%;
    left: 8%;
    top: 1%;
    border: none;
    border-radius: 2%;
    font-family: var(--fuente-montserrat);
    font-weight: 300;
    font-size: 1rem;
    line-height: 100%;
    background-color: var(--color-container);
}
.advertencias{
    display: flex;
    text-align: center;
    padding: 65%;
    gap: 10%;
    position: absolute;
    width: 40%;
    right: -25%;
    top: 9%;
    font-size: 0.75rem;
    font-family: var(--fuente-montserrat);
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0% 0%;
    position: absolute;
    width: 100%;
    top: 80%;
    left: 10%;
}
.boton_e{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--fuente-KronaOne);
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--color-terciario);
    padding: 10px 60px;
    width: 20%;
    font-weight: 700;
    border: none;
    margin-top: 1rem;
    gap: 8px;
}
.boton_des{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    font-family: var(--fuente-KronaOne);
    font-size: 1rem;
    border-radius: 8px;
    background: var(--color-terciario);
    padding: 10px 15px;
    width: 25%;
    font-weight: 700;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}
.boton_des:hover,.boton_e:hover{
    margin: 0.5%;
    width: 25%;
    padding: 2%;
}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20%;
    height: 50%;
    left: 65%;
    top: 10%;
    background: var(--color-primario);
    border-radius: 5px;
}
.mensaje_encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20%;
    gap: 5px;
    position: absolute;
    width: 100%;
    top: 80%;
    text-align: center;
}
.mensaje_encriptado h2 {
    width: 100%;
    font-family: var(--fuente-KronaOne);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: var(--color-secundario);
}
.mensaje_encriptado p {
    width: 100%;
    font-family: var(--fuente-KronaOne);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: var(--color-secundario);
}
.encriptado img{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
}
@media (max-width: 780px){
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptado{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .advertencias{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .termino p{
        font-size: font-size: 0.40rem;;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .boton_e,.boton_des{
        width: 48%;
        border-radius: 5%;
    }
    .boton_des:hover,.boton_e:hover{
        margin: 0.5%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje_encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}
